<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CarInsurnce</title>
    <meta name="description" content="CarInsurnce">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <!-- <link rel="stylesheet" href="assets/css/cs-skin-elastic.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css_/style.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css_/cs-skin-elastic.css')}}"> -->

    <!-- css bootstrap <table></table> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">



    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="http://127.0.0.1:5000/"><i class="menu-icon fa fa-laptop"></i>Home</a>
                    </li>
                    <li class="menu-title">
                        <a href="http://127.0.0.1:5000/predict">Predict</a>
                    </li><!-- /.menu-title -->

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="{{url_for( 'static', filename='img/logo.png')}}"
                            alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="{{url_for( 'static', filename='img/logo2.png')}}"
                            alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                    aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/static/img/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu"></div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->

        <div class="content">


            <div class="animated fadeIn">
                <div class="row">


                    <!-- <div class="card">
                        <div class='card-body'>
                            <p>scatterplots chart</p>
                            <object data="../static/img/gr4.png" style="width: 100%; height: 100%;"></object>
                        </div>
                    </div>

                    <div class="card">
                        <div class='card-body'>
                            <p>Dicision tree</p>
                            <a href="{{url_for('static', filename='img/decisiontree.png')}}"
                                download="DecisionTree"><input type="button" value="Download"></a>
                            
                        </div>
                    </div> -->

                </div>

            </div>


        </div>
        <div class="content">
            <!-- Animated -->
            <div class="container">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="pe-7s-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">{{len(results)}}</span></div>
                                            <div class="stat-heading">Clients</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Customer class chart</h4>
                                <div id="class-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <p>Marketing data</p>
                            <table id="CarInsurance" class="display table nowrap responsive">
                                <div class="table-clients">
                                    <thead>
                                        <tr>
                                            {% for header in fieldnames %}
                                            <th>{{header}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                </div>

                                <tbody>
                                    {% for row in range(len(results)) %}
                                    <tr>
                                        {% for index in range(0, len(fieldnames)) %}
                                        <td>{{results[fieldnames[index]].values[row]}}</td>
                                        {% endfor %}

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{url_for('static', filename='data/test.csv')}}" download="CarInsurance"><input
                                    type="button" value="Download"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Customer</h4>
                                <canvas id="Customers-chart"></canvas>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Education</h4>
                                <canvas id="Education-chart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Marital</h4>
                                <canvas id="Marital-chart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">CarLoan</h4>
                                <canvas id="CarLoan-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Age</h4>
                            <canvas id="Age-chart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Job</h4>
                            <canvas id="Job-chart"></canvas>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-lg">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">lineChart</h4>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

        <!-- <div class="content">
        <iframe src="http://127.0.0.1:5000/predict/tree" frameborder="2px" style="overflow: scroll; width: 100%; height: 500px;"></iframe>
       </div> -->



    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{{ url_for( 'static', filename ='js/main.js')}}"></script>
    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
    <script src="{{ url_for( 'static', filename ='js/init/chartjs-init.js')}}"></script>
    <!--Flot Chart-->
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <!-- --- -->
    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="{{url_for('static', filename='js/init/weather-init.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="{{url_for('static', filename='js/init/fullcalendar-init.js')}}"></script>


    <!-- bootstrap table -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $('#CarInsurance').DataTable({
            "scrollY": "600px",
            "scrollX": true,
            "scrollCollapse": true,
            "paging": true
        });
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['class', 'amount'],
                ['yes', {{ class_yes }}],
        ['no', {{ class_no }}]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': '', 'width': 450, 'height': 288 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('class-chart'));
        chart.draw(data, options);
    }
    </script>

    <script>
        var ctx = document.getElementById("Age-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels_age %}
                "{{ item }}",
               {% endfor %} ],
        datasets: [
            {
                label: "Yes",
                data: [{% for item in values_age_1 %}
                    "{{ item }}",
            {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
                borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                            },
        {
            label: "No",
                data: [{% for item in values_age_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
                            }
                        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    } );
    </script>

    <script>
        var ctx = document.getElementById("Education-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels_education %}
            "{{ item }}",
           {% endfor %} ],
        datasets: [
            {
                label: "Yes",
                data: [{% for item in values_education_1 %}
                "{{ item }}",
            {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
                borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                        },
        {
            label: "No",
                data: [{% for item in values_education_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
                        }
                    ]
    },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    } );
    </script>

    <script>
        var ctx = document.getElementById("Marital-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels_marital %}
        "{{ item }}",
       {% endfor %} ],
        datasets: [
            {
                label: "Yes",
                data: [{% for item in values_marital_1 %}
            "{{ item }}",
            {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
                borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                    },
        {
            label: "No",
                data: [{% for item in values_marital_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
                    }
                ]
    },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
} );
    </script>

    <script>
        var ctx = document.getElementById("CarLoan-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels_carLoan %}
            "{{ item }}",
            {% endfor %} ],
        datasets: [
            {
                label: "Yes",
                data: [{% for item in values_carLoan_1 %}
            "{{ item }}",
            {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
                borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                    },
        {
            label: "No",
                data: [{% for item in values_carLoan_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
                    }
                ]
},
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
} );
    </script>

    <script>
        var ctx = document.getElementById("Job-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in labels_job %}
    "{{ item }}",
   {% endfor %} ],
        datasets: [
            {
                label: "Yes",
                data: [{% for item in values_job_1 %}
        "{{ item }}",
            {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
                borderWidth: "0",
                    backgroundColor: "rgba(0, 194, 146, 0.5)"
                },
        {
            label: "No",
                data: [{% for item in values_job_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
                }
            ]
},
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
} );
    </script>

    <script>
        var ctx = document.getElementById("Customers-chart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Customer_new", "Customer_old"],
                datasets: [
                    {
                        label: "Yes",
                        data: [{% for item in values_customer_1 %}
                    "{{ item }}",
                    {% endfor %}],
            borderColor: "rgba(0, 194, 146, 0.9)",
            borderWidth: "0",
            backgroundColor: "rgba(0, 194, 146, 0.5)"
        },
            {
                label: "No",
                data: [{% for item in values_customer_0 %}
        "{{ item }}",
            {% endfor %} ],
        borderColor: "rgba(0,0,0,0.09)",
            borderWidth: "0",
                backgroundColor: "rgba(0,0,0,0.07)"
            }
        ]
},
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
} );
    </script>

    <!-- <script>
        var ctx = document.getElementById( "lineChart" );
    ctx.height = 150;
    var myChart = new Chart( ctx, {
        type: 'line',
        data: {
        
            labels: [{% for item in labels_calltime %}
                    "{{ item }}",
                {% endfor %}],
            datasets: [
                {
                    label: "My First dataset",
                    borderColor: "rgba(0,0,0,.09)",
                    borderWidth: "1",
                    backgroundColor: "rgba(0,0,0,.07)",
                    data: [{% for item in values_CallTime_1 %}
                        "{{ item }}",
                        {% endfor %}]
                    
                            },
                {
                    label: "My Second dataset",
                    borderColor: "rgba(0, 194, 146, 0.9)",
                    borderWidth: "1",
                    backgroundColor: "rgba(0, 194, 146, 0.5)",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [{% for item in values_CallTime_0 %}
                        "{{ item }}",
                        {% endfor %}]
                   
                            }
                        ]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'nearest',
                intersect: true
            }

        }
    } );
    </script> -->

</body>

</html>